@model IEnumerable<TakeTwo.Models.Post>

@{
    ViewBag.Title = "Admin Dashboard - All Posts";
}

<img alt="A pancake shaking hands with a popsicle" width="300" class="center-block" src="@Url.Content("~/Content/pancakelove.png")" />
<h2>Viewing All Pancake Posts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @if (item.IsApproved)
                {
                    @Html.ActionLink("Disable Post", "DisablePost", "Admin", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                else
                {
                    @Html.ActionLink("Approve Post", "ApprovePost", "Admin", new { id = item.Id }, new { @class = "btn btn-success btn-xs" })
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-xs", onclick = "return confirm('Are you sure?');" })
            </td>
        </tr>
    }

</table>
