@model IEnumerable<TakeTwo.Models.User>

@{
    ViewBag.Title = "Admin Dashboard - All Users";
}

<img alt="A pancake shaking hands with a popsicle" width="300" class="center-block" src="@Url.Content("~/Content/pancakeconnect.png")" />
<h2>Theater Company Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSuspended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRole);
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @if (item.IsSuspended)
                {
                    @Html.ActionLink("Unsuspend User", "UnsuspendUser", "Admin", new { id = item.Id }, new { @class = "btn btn-info btn-xs" })
                }
                else
                {
                    @Html.ActionLink("Suspend User", "SuspendUser", "Admin", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentRole)
            </td>
        </tr>
    }

</table>
